<table class="table-footer">
  <thead>
    <tr>
      <th style='padding-top: 10px'>
        <p class="footer__title">Footer</p>
      </th>
    </tr>

    <tr>
       <td class="social-footer__wrapper">
        <a href="#">
          <img style='padding: 0 15px;' src='https://yamamay.vteximg.com.br/arquivos/facebook-icon.png'>
        </a>

        <a href="#">
          <img style='padding: 0 15px;' src='https://yamamay.vteximg.com.br/arquivos/instagram-icon.png'>
        </a>

        <a href="#">
          <img style='padding: 0 15px;' src='https://yamamay.vteximg.com.br/arquivos/youtube-icon.png'>
        </a>
      </td>
    </tr>
  </thead>
</table>
