<div  class="flex items-center ph0 header__container">
  <div class="w4 center header__container-logo">
    <a href="#">
      <img
        border="0"
        width="auto"
        alt="{{_accountInfo.TradingName}}"
        src="https://patryckgratao.com/projects/vtex/github-logo.png"
      >
    </a>
  </div>
</div>

