  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="w-100 mw6-5 bg-white email__wrapper" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">

          <!-- Header -->
          <tr>
            <td class="w-100 ph0-ns pb4 bb b--light-gray tc">
              <!-- partial:partials/main/_header.hbs -->
              <!-- partial -->
              <h1 class="header__title">((i18n.order.titleCancelled))</h1>

              <!-- partial:partials/messages/order-reference.hbs -->
              <!-- partial -->
            </td>
          </tr>

          <tr>
            <td class="w-100 ph4-ns pt2 pb4 bt b--light-gray">
              <!-- partial:partials/totals.hbs -->
              <!-- partial -->

              {{#richShippingData shippingData}}
              {{#group logisticsInfo by="addessId"}}
              <div class="cb fn custom__boxes mt4">
                {{#compare items.length '>' 1}}
                <h3 class="ma0 custom__heading3">((i18n.order.products))</h3>
                {{else}}
                <h3 class="ma0 custom__heading3">((i18n.order.product))</h3>
                {{/compare}}

                {{#group items by="packageId"}}
                <!-- partial:partials/items.hbs -->
                <!-- partial -->
                {{/group}}
              </div>
              {{/group}}
              {{/richShippingData}}
            </td>
          </tr>

          <tr>
            <td class="ph4-ns pv3 bt b--light-gray">
              <!-- partial:partials/messages/regards.hbs -->
              <!-- partial -->
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top">
        <!-- partial:partials/main/_footer.hbs -->
        <!-- partial -->
      </td>
    </tr>
  </table>
</body>

</html>
