  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="w-100 mw6-5 bg-white email__wrapper" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">

          <!-- Header -->
          <tr>
            <td class="">
              <!-- partial:partials/main/_header.hbs -->
              <!-- partial -->

              <h1 class="header__title">((i18n.payment.approved))</h1>
              <!-- partial:partials/messages/order-reference.hbs -->
              <!-- partial -->
            </td>
          </tr>

          <tr>
            <td class="w-100 ph4-ns">
              <div class="mt4">
                <p class="custom__text">
                  <!-- partial:partials/messages/hi.hbs -->
                  <!-- partial -->
                  {{#compare shippingData.logisticsInfo.length '>' 1}}
                  ((i18n.payment.preparingShippingManyProducts))
                  {{else}}
                  ((i18n.payment.preparingShippingOneProduct))
                  {{/compare}}
                </p>
              </div>
            </td>
          </tr>

          <!-- Payment -->
          <tr>
            <td class="w-100 ph4-ns pt3 pb4">
              <h3 class="ma0 custom__heading3">((i18n.payment.title))</h3>
              {{#each paymentData.transactions}}
              <!-- partial:partials/payment.hbs -->
              <!-- partial -->
              {{/each}}
            </td>
          </tr>

          <tr>
            <td class="ph4-ns pv3 bt b--light-gray">
              <!-- partial:partials/messages/regards.hbs -->
              <!-- partial -->
            </td>
          </tr>
        </table>
      </td>
    </tr>
     <tr>
      <td align="center" valign="top">
        <!-- partial:partials/main/_footer.hbs -->
        <!-- partial -->
      </td>
    </tr>
  </table>
</body>

</html>
