<tr>
  <td class="w-100 ph4-ns pt2 pb1 custom__text">
    <p class="mt4">
      <!-- partial:hi.hbs -->
      <!-- partial -->
    </p>

    <p class="mt2">
      ((i18n.order.introMessage))
    </p>

    <!-- partial:order-link.hbs -->
    <!-- partial -->

    <!-- Boleto bancário -->
    {{!-- {{#each orders.0.paymentData.transactions}}
    {{#each payments}}
    {{#eq paymentSystemName 'Boleto Bancário'}}
    <p>((i18n.payment.bankInvoiceReminder))</p>
    <p>
      <a class="custom__principal-button"
        href="{{replace url '{Installment}' installments}}">((i18n.payment.bankInvoiceShow))</a>
    </p>
    {{/eq}}
    {{/each}}
    {{/each}}
  </td>
</tr> --}}
